[submodule "bookshrink"]
	path = bookshrink
	url = git@github.com:peterldowns/bookshrink.git
[submodule "website"]
	path = peterldowns.github.com
	url = git@github.com:peterldowns/peterldowns.github.com.git
