[submodule "bookshrink"]
	path = bookshrink
	url = git@github.com:peterldowns/bookshrink.git
[submodule "website"]
	path = peterldowns.github.com
	url = git@github.com:peterldowns/peterldowns.github.com.git
[submodule "phoodclub"]
	path = phoodclub
	url = git@github.mit.edu:6170-fa15/dangpham_downs_iveel_aivanov_final.git
[submodule "bitcoin"]
	path = bitcoin
	url = git@github.com:axiomzen/cc_PeterDowns_Bitcoin.git
